
.draggable{
    z-index: 10;
    background-color: #cdc1f5;
    min-width: 270px;

}

.droppable{
    margin: 20px 20px 20px 20px;
    min-width: 270px;
}

.dropZone{ 
    height:auto !important;
    margin: 3px 0px;
    /* border: 3px solid red; */
}

.navbar {
    background-color: #6c59a9 !important;
    border: 1px solid #8f77dc;
    padding: 0;
    height: 50px;
}

#nav{
    position: fixed;
    width: 100vw
}

#app{
    position: absolute;
    margin-top: 100px;
}

#boardDetails{
    position: absolute;
    margin-top: 150px; 
}

.navbar-light .navbar-brand {
    font-size: 1.8rem;
    color: white;
    margin: 0 auto;
    padding: 0;
    
}

.span1{
    font-family:"Pacifico", cursive ;
    font-size: 1.8rem;
}

span{
    float: right;
}

#mainEntry{
    float: left;
    margin-left: 20px;
}

.table{
    margin: 20px 0;
}

@media only screen and (max-width: 768px) {
    .table{
        max-width: 300px;
        margin: 20px auto;
    }
  }

.btn-outline-success {
    color: #f5f9f6;
    border-color: #ebf3ed;
}

body{
    background-color: #8f77dc;
    /* background-image: url ("./images/goodquality.jpg"); */
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 20px;
    font-weight: 500;
    background-color: #d6cfec;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-align: center;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #8f77dc;
    border-radius: .25rem;
    width: 200px;
    height: 35px;
    
}

.ulOutside{
    background-color:  #cdc1f5;
}

.card-header+.list-group .list-group-item:first-child {
    border: 5px solid #cdc1f5;
    padding: 0.5rem;
    border-radius: 10px;
}

.container {
    margin-left: 0;
}

#login{
    width: 300px;
    height: 400px;
    background-color: #cabdf3;
    float: right;
    margin: 70px 70px;
    border-radius: 3%;
}

#loginHeader{
    padding: 20px;
    text-align: center;
}

#form-login{
    margin: auto 20px;
    text-align: center;
}

#loginFooter{
    text-align: center;
    margin: 25px;
}

#createNewBoard{
    width: 200px;
    height: 100px;
    margin: 30px;
    background-color: #6b58aa;
    font-size: 20px;
}

.eachBoard{
    width: 200px;
    height: 100px;
    margin: 30px;
    background-color: #cabdf3;
}

.table{
    width: 50%;
    display: flex;
}

#userLogIn{
    border: 1px solid white;
    width: 100px;
    height: 40px;
    margin: 4px 20px 4px;
    border-radius: 10%;
    text-align: center;
    color: white;
    padding-top: 7px;
}

.cardInput{
    border-color: transparent;
    max-width: 200px;
    height: auto;
}

#button-editCard{
    width: 50px;
    height: 20px;
    font-size: 10px;
    padding: 0;
}

#boardDetails{
    display: inline-flex;
}

#boardNameDiv{
    display: contents;
}

.boardList{
    width: 530px;
    background-color: #cabdf3;
    border-color: transparent;

}

#boardListAll{
    width: 600px;
    background-color: #cabdf3;
    margin-left: 50px;
}

#deleteBoard{
    width:50px;
    margin: 5px;
    margin-top: -50px;
}

.card-body{
    padding: 0;
}

#boardListHeader{
    width: 600px;
    background-color: #524a6b;
    border-color: #524a6b;
    margin-top: 50px;
    margin-left: 50px;
}

.button-deleteBoard{
    float: right;
    width: 50px;
    height: 50px;
    font-size: 13px;
    padding: 0;
    font-weight: 500;
}

.list1{
    width: 600px;
    float: left;
}

.list2{
    width: 100px;
    float: left;
}
